*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;  
    background-image: url("/assets/background.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: blueviolet;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
}

.blur-wallpaper{
    align-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 100vh;
    border-radius: 15px;
    background: rgb(190, 231, 241, 0.6) center;
}

.blur-wallpaper h1{
    font-size: 75px;
    margin-top: 10px;
    position: absolute;
}

form{
    position: relative;
    margin: 200px;
}

form span{
    font-size: 20px ;
}

label{
    margin: 15px;
}

.button{
    position: absolute;
    color: chocolate;
    border: none;
    margin: 20px 0;
    width: 150px;
    height: 50px;
}

.blur-wallpaper,
form,
.button{
    display: flex;
    flex-direction: column;
}